<div class="absolute inset-0 min-w-0 text-center overflow-auto print:overflow-visible bg-cyan-400" cdkScrollable>
    <div
            class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
            <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
                <div>
                    <div class="hidden sm:flex flex-wrap items-center font-medium">
                        <div>
                            <button routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" class="font-medium text-white dark:text-blue-500 hover:underline" type="button" (click)="goToHomePage()">Ana Sayfa => </button>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary"
                                [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                                <button routerLink="/hasta-listesi" routerLinkActive="active" ariaCurrentWhenActive="page" class="font-medium text-white dark:text-blue-500 hover:underline" type="button" (click)="goToHastaListe()">Hasta Listesi => </button>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary"
                                [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                            <span class="ml-1 text-secondary text-white">Hasta Detay</span>
                        </div>
                    </div>
                    <div class="flex sm:hidden">
                        <a class="inline-flex items-center -ml-1.5 text-secondary font-medium">
                            <mat-icon class="icon-size-5 text-secondary"
                                [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                            <span class="ml-1">Back</span>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    <div class="inline-block w-full p-6 sm:p-10 text-left print:p-0">
        <div class="m-auto w-11/12 md:w-320 p-4 md:p-16 mt-22 rounded-2xl sshw bg-card print:w-auto print:rounded-none print:shadow-none print:bg-transparent bg-white">
            <div class="flex justify-between items-start flex-col sm:flex-row">
                <div class="w-full sm:w-1/2 mb-4 sm:mb-0">
                    <div class="relative flex h-24 w-32 ...">
                        <div class="absolute left-0 top-0 h-20 w-32  ...">Ad / Soyad :<b> {{hastaData?.ad}} {{hastaData?.soyad}}</b> </div>
                    </div>
                </div>
                <div class="w-full sm:w-1/3">
                    <div class="relative flex h-24 w-32 ...">
                        <div class="absolute top-0 right-0 h-20 w-32  ...">Dosya Numarası : <b>{{hastaData?.dosyano}} </b></div>
                    </div>
                </div>
            </div>
            
            <mat-tab-group class="mx-auto">
                <mat-tab label="Kişisel Bilgiler">
                    <h2 class="mb-2 text-lg font-semibold text-orange-600 dark:text-white pt-7">Hasta Detay Ekranı : </h2>
                    <ul class="max-w-md space-y-6 text-gray-500 list-none list-inside dark:text-gray-400 pt-7">
                        <li>
                            Ad / Soyad : <b> {{hastaData?.ad}} {{hastaData?.soyad}}</b>
                        </li>
                        <li>
                            Doğum Yeri : <b> {{hastaData?.dogumyer}}</b> 
                        </li>
                        <li>
                            Doğum Tarihi : <b>{{hastaData?.dogumtarih}}</b> 
                        </li>
                        <li>
                            Meslek :<b> {{hastaData?.meslek}}</b> 
                        </li>
                        <li>
                            Cinsiyet :<b> {{hastaData?.cinsiyet}}</b> 
                        </li>
                        <li>
                            Medeni Durum : <b>{{hastaData?.medenihal}}</b> 
                        </li>
                        <li>
                            Kan Grubu :<b>{{hastaData?.kangrup}}</b> 
                        </li>
                        <li>
                            Ev Telefonu :<b> {{hastaData?.evtel}}</b> 
                        </li>
                        <li>
                            Cep Telefonu : <b>{{hastaData?.ceptel}}</b> 
                        </li>
                        <li>
                            İş Telefonu : <b>{{hastaData?.istel}}</b> 
                        </li>
                        <li>
                            Ev Adresi : <b>{{hastaData?.adres}}</b> 
                        </li>
                        <li>
                            Semt : <b>{{hastaData?.ilce}}</b> 
                        </li>
                        <li>
                            İl : <b>{{hastaData?.il}}</b> 
                        </li>
                        <li>
                            İş Adresi : <b>{{hastaData?.isadres}}</b> 
                        </li>
                        <li>
                            Email :<b>{{hastaData?.eposta}}</b> 
                        </li>
                        <li>
                            Not :<b> {{hastaData?.notlar}}</b> 
                        </li>
                    </ul>
                </mat-tab>
                <mat-tab label="Gelişler"> 
                    <ng-container *ngFor="let gelis of hastaGelisler; let i = index">
                      <h2 class="mb-2 text-lg font-semibold text-orange-600 dark:text-white pt-7">Geliş {{ i + 1 }} : </h2>
                      <ul class="max-w-md space-y-6 text-gray-500 list-none list-inside dark:text-gray-400 pt-3 pl-16">
                        <li>
                          Giriş Tarihi : <b>{{ gelis.giristarih }}</b>
                        </li>
                        <li>
                          Çıkış Tarihi : <b>{{ gelis.cikistarih }}</b>
                        </li>
                        <li>
                          Referans : <b>{{ gelis.referans }}</b>
                        </li>
                        <li>
                          Poliklinik : <b>{{ gelis.poliklinik }}</b>
                        </li>
                        <li>
                          Doktor : <b>{{ gelis.doktor }}</b>
                        </li>
                      </ul>
                    </ng-container>
                  </mat-tab>
                  
                  <mat-tab label="Detaylı Bilgi">
                    <h2 class="mb-2 text-lg font-semibold text-orange-600 dark:text-white pt-7 pb-4">Bilgi Ekranı</h2>
                    <div class="flex-row pt-4 pl-14">
                      <button *ngFor="let not of notlar; let i = index"
                              type="button"
                              (click)="selectNot(i + 1)"
                              [id]="'not' + (i + 1)"
                              class="text-white bg-gradient-to-r from-cyan-500 via-cyan-500 to-cyan-400 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        Not {{ i + 1 }}
                      </button>
                    </div>
                    <div class="m-auto w-11/12 md:w-320 p-4 md:p-16 mt-22 border border-orange-600 bg-card print:w-auto print:rounded-none print:shadow-none print:bg-transparent bg-white">
                      <textarea class="w-full h-96 border-gray-300 rounded-lg focus:ring-cyan-300 focus:border-cyan-300 dark:focus:ring-cyan-800 dark:focus:border-cyan-800 text-sm px-4 py-2 resize-none"
                                [(ngModel)]="selectedHastaBilgi.hastabilgi"
                                placeholder="Bilgiyi buraya girin"></textarea>
                    </div>
                    <div class="flex justify-center mt-4">
                      <button type="button" (click)="notUpdate()"
                              class="text-white bg-gradient-to-br from-green-500 to-green-400 hover:bg-gradient-to-tr focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center">
                        Güncelle <span class="ml-2">&#x231B;</span>
                      </button>
                    </div>
                  </mat-tab>
                  
                  <mat-tab label="Not Ekle">
                    <h2 class="mb-2 text-lg font-semibold text-orange-600 dark:text-white pt-7 pb-4">Not Ekleme Ekranı</h2>
                    <mat-form-field class="w-11/12 md:w-320 p-4 md:p-16 mt-22 mb-4 border border-orange-600 bg-card print:w-auto print:rounded-none print:shadow-none print:bg-transparent bg-white ">
                      <mat-label>Not Giriniz</mat-label>
                      <textarea [(ngModel)]="not" matInput placeholder=""></textarea>
                    </mat-form-field>
                    <div class="flex items-center flex-wrap">
                      <div class="w-4/12 md:w-320 p-4 md:p-16 mt-22 border border-orange-600 bg-card print:w-auto print:rounded-none print:shadow-none print:bg-transparent bg-white">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of clcClintock, a Latin professor at Hampden-Sydney College in Virginia, lookons 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                        The stand Rackham.
                      </div>
                      <div class="flex-row pt-4 pl-12">
                        <button type="button"
                                class="text-white bg-gradient-to-r from-cyan-500 via-cyan-500 to-cyan-400 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                          Resim Çek
                        </button>
                        <button type="button"
                                class="text-white bg-gradient-to-r from-cyan-500 via-cyan-500 to-cyan-400 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                          Resim Ekle
                        </button>
                        <button type="button" (click)="kaydet()"
                                class="text-white bg-gradient-to-r from-cyan-500 via-cyan-500 to-cyan-400 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                          Kaydet
                        </button>
                        <button type="button" (click)="gonder()"
                                class="text-white bg-gradient-to-r from-orange-600 via-orange-600 to-orange-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-orange-500 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                          Gönder
                        </button>
                      </div>
                    </div>
                  </mat-tab>
                  
              </mat-tab-group>
              
        </div>
    </div>
</div>
 